/*=============== LARGE DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }

  .home .box {
    padding: 2rem;

    justify-content: center;
    background-position: right !important;
  }

  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }

  .home .box .content {
    text-align: center;
  }

  .home .box .content span {
    font-size: 3rem;
  }

  .home .box .content h3 {
    font-size: 4rem;
  }

  .about-dess {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-row-gap: 20px;
  }
}
/*=============== MEDIUM DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 768px) {
  html {
    font-size: 52%;
    scroll-padding-top: 7rem;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }

  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }

  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .about-dess {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-row-gap: 20px;
  }
}

/*=============== SMALL DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
